@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}

/*Navigation bar styling*/

nav table{
    position: fixed;
    top: 0px;
    bottom: 0px;
}
nav table img {
    width: 75px;
    height: 75px;
    margin-top: 4px;
}

.logo {
    padding: 0 0 0 20px;
    
}

nav table a {
    text-decoration: none;
    color: black;
}

.nav-item {
    padding-top: 10px;
    width: 6rem;
    font-weight: 550;
}
#home-text {
    color: white;
}

.nav-item a:hover {
    color: white;
}

/*--------Header Section------*/
header {
    text-align: center;
}

#intro {
    font-family: 'Great Vibes', cursive;
    font-size: 7vw;
    font-weight: lighter;
    margin: 0;
    padding-top: 8rem;
}

header p {
    font-size: 2vw;
    margin-bottom: 5px;
    color: #2f2e41;
}

header img {
    width: 30vw;
    height: 30vw;
    margin-bottom: 5%;
}

/*--------Section style------*/

.container {
    max-width: 600px;
    margin: auto;
}

#tech {
    padding: 3rem;
}

#tech h1 {
    text-align: center;
    color: #2f2e41;
}

.links {
    text-decoration: none;
    box-sizing: border-box;
}
.primary-link {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.secondary-link {
    background-color: #b0ffb0;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

/*------Footer section------*/

.foot {
    background-color: #2f2e41;
    padding: 3rem 1rem;
    
    
}
/*.foot ul {
    list-style-type: none;
    text-align: center;
}
.foot ul li {
    display: inline-block;
    padding: 0 25px;
    font-weight: bold;
}
.foot ul li a {
    text-decoration: none;
    color: white;
}
*/
.foot table {
    margin: auto;
}
.foot table tr td a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 0.5rem 1.5rem ;
}
.foot p {
    text-align: center;
    font-size: 10px;
    color: white;
    padding-top: 2rem;
}

.foot p span {
    text-decoration: underline;
}

/*-------Project section-----*/
#sub-part {
    text-align: center;
}

#sub-part div h1 {
    padding: 10rem 0 5rem 0;
    color: #2f2e41;
    font-size: 2em;
}
/* css-tricks.com/adding-stroke-to-web-text */
#sub-part div h1 span {
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2f2e41;
}

.article table{
    margin: auto;
        
}
.article table .primary-link {
    border: 1px solid #2f2e41;
    color: #2f2e41;
}

.article table .secondary-link {
    border: 1px solid #b0ffb0;
}
.article .sub-article {
    padding: 3rem 3rem 4rem 3rem;
}
.article table td {
    display: block;
}
